asgiref==3.8.1
colorama==0.4.6
coverage==7.6.12
Django==5.1.6
django-otp==1.5.4
django-stdimage==6.0.2
model-bakery==1.20.3
pillow==11.1.0
psycopg2-binary==2.9.10
pyotp==2.9.0
qrcode==8.0
sqlparse==0.5.3
tzdata==2025.1
