{% extends 'base.html' %}

{% block title %}

New Password

{% endblock %}

{% block content %}

  <div class="container-change-password">
    <h3 class="title-change-password">Enter your new password</h3>

    <form method="post">
      {% csrf_token %}
      <div class="input_form">
        {{form.new_password1.label_tag}}
        <div class="password_container">
          {{form.new_password1}}
          <i class="fa-solid fa-eye input-2"></i>
        </div>
      </div>
      <span class="helptext" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
      <div class="input_form">
        {{form.new_password2.label_tag}}
        <div class="password_container">
          {{form.new_password2}}
          <i class="fa-solid fa-eye input-3"></i>
        </div>
      </div>
      <span class="helptext" id="id_new_password2_helptext">Enter the same password as before, for verification.</span>
      <button type="submit" class="submit-btn">Change my password</button>
    </form>
  </div>
{% endblock %}
