{% extends 'base.html' %}
{% block title %}

Password Reset

{% endblock %}

{% block content %}

<div class="container-geral">
  <div class="container-reset">
    <h1 class="title-reset">Password Recovery</h1>

    <form method="post" class="form-reset">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Recovery Link</button>
    </form>
    
    <div class="messages">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
