{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Container principal -->
<div class="profile-container">
    <!-- QR Code -->
    
    <!-- Formulário de verificação OTP -->
    <div class="form-container">
      <div class="qr-container">
          <img src="{{ qrcode }}" alt="QR Code MFA" class="qr-code">
      </div>
        <h2 class="title">Verifique seu código OTP</h2>
        <form method="post" class="otp-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Verificar Código</button>
        </form>

        <!-- Mensagens de erro ou sucesso -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}