{% extends 'base.html' %}
{% block title%} Account {% endblock %}
{% block content %}

<!-- A URL /logout/ deve ser acessada usando POST (não GET) -->
{{user.email}}
{% if user.register.image %}
    <img src="{{ user.register.image.url }}" alt="Imagem do usuário">
{% else %}
    <p>Sem imagem disponível</p>
{% endif %}


  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="button_leave">Leave</button>
  </form>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" name="delete_user" class="button_delete">Delete Account</button>
  </form>

  

{% endblock %}
