{% extends 'base.html' %}
{% block title%} Account {% endblock %}
{% block content %}

<div class="container-account">
<div class="profile-info">
    <p><span>Email:</span> {{ user.email }}</p>
    <p><span>Last Login:</span> {{ user.last_login }}</p>
    <p><span>Entry Date:</span> {{ user.date_joined }}</p>
</div>

<div class="profile-actions">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="button_leave">Leave</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="delete_user" class="button_delete">Delete Account</button>
    </form>
</div>
</div>
{% endblock %}
