{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Minha Aplicação{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  
  
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Cadastro</a>
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content%}
    {% endblock %}
  </main>
</body>
</html>