{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}

    {% if messages %}
    <div class="message">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data" action="{% url 'index' %}" class="forms"> 
      <h2>User Register</h2>
      {% csrf_token %}
    
    <div class="input_form">
        <label for="id_username">Username:</label>
        {{ form.username }}
    </div>
    
    <div class="input_form">
        <label for="id_email">Email:</label>
        {{ form.email }}
    </div>
    
    <div class="input_form">
        <label for="id_password">Password:</label>
        <div class="password_container">
          {{ form.password }}
          <i class="fa-solid fa-eye"></i>
        </div>
    </div>
    <div class="container_p_error">
      <p class="password_caracter">
        Sua senha deve ter pelo menos 8 caracteres.
      </p>
      <p class="password_special">
        Sua senha deve ter um caracter especial.
      </p>
    </div>
    
    <div class="input_form">
        <label for="id_imagem">Image:</label>
        {{ form.image }}
    </div>
    
    <button type="submit" class="button_register">Register</button>
    </form>

{% endblock %}
