{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div style="max-width: 400px; margin: auto; padding-top: 50px;">
    

    {% if messages %}
      <div class="div_error">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" action="{% url 'login'%}">
      <h2>Login</h2>
      {% csrf_token %}
      
      <div class="input_form">
        <label for="id_username" style="font-weight: bold;">Email:</label>
        {{ form.email }} 
        {% if form.email.errors %}
          <div style="color: #d9534f; font-size: 0.9em;">
            {% for error in form.email.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="input_form">
        <label for="id_password" style="font-weight: bold;">Password:</label>
        <div class="password_container">
          {{ form.password }}
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>

      <button type="submit" style="background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
        Login
      </button>
    </form>
  </div> 
{% endblock %}