{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load socialaccount %}


  <div style="max-width: 400px; margin: auto; padding-top: 50px;">
    

    {% if messages %}
      <div class="message">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    

    <form method="post" action="{% url 'login' %}" class="forms">
      <h2>Login</h2>
      {% csrf_token %}
      
      <div class="input_form">
        <label for="id_username">Email:</label>
        {{ form.email }} 
        {% if form.email.errors %}
          <div style="color: #d9534f; font-size: 0.9em;">
            {% for error in form.email.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="input_form">
        <label for="id_password">Password:</label>
        <div class="password_container">
          {{ form.password }}
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>

      <label for="enable_mfa">
        <input type="checkbox" name="enable_mfa" id="enable_mfa" /> Enable two-step verification (MFA)
      </label>
      
      <div class="password_reset">
        <a href="/reset_password/">Forgot password?</a>
      </div>

      <a href="{% provider_login_url 'google' %}" class="container-a">
        <img src="{% static 'image/googleicon.png' %}" alt="icone google" class="icon-google">
        Login with Google
      </a>


      <button type="submit" class="btn_login">
        Login
      </button>


    </form>
  </div> 
{% endblock %}
