.button_register {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

.button_register:hover {
  background-color: #45a049;
}

.message {
  background-color: #0056b3;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.message p {
  color: #fff;
}

@media (max-width: 420px) {
  .forms {
    padding: 30px;
  }

  .forms h2 {
    font-size: 24px;
  }

  .forms .input_form label {
    font-size: 16px;
  }
}