.btn_login {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

.btn_login:hover {
  background-color: #0056b3;
}

/* Estilo para mensagens de erro */
.div_error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
}

.password_reset {
  text-align: right;
  margin: 5px 0;
}

.password_reset a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.password_reset a:hover {
  text-decoration: underline;
}

