.btn_login {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

.btn_login:hover {
  background-color: #0056b3;
}

.container-login {
  max-width: 400px; 
  margin: auto; 
  padding-top: 50px;
}

.message {
  background-color: #0056b3;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.message p {
  color: #fff;
}

.password_reset {
  text-align: right;
  margin: 5px 0;
}

.password_reset a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.password_reset a:hover {
  text-decoration: underline;
}

.container-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #898989;
  padding: 10px 0;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.container-a:hover {
  color: #000000bd;
}

.container-a .icon-google {
  width: 30px;
  margin-right: 10px;
}

.container-continue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.input_form label {
  font-weight: 800;
}
